.box1-main {
    text-align: center;
    position: relative;
    top: 35%;
}

.box1-font {
    font-size: 41px !important;
}

.box2-font {
    font-size: 31px !important;
}

.box3-font {
    font-size: 32px !important;
}

.box4-font {
    font-size: 41px !important;
}

.splide__pagination {
    bottom: 40%;
    right: auto !important;
    left: 20% !important;
}

.splide__pagination__page {
    background: rgba(255, 255, 255, 0.608);
    margin: 0 10px;
    width: 9px;
    height: 9px;
}

.splide__pagination__page.is-active {
    background: rgb(255, 255, 255);
    transform: scale(1);
}

.splide__track {
    overflow: visible !important;
}

#sub1.splide__arrow--prev {
    width: 90px;
    height: 90px;
    left: -9em;
    font-size: 13px;
}

#sub2.splide__arrow--next {
    width: 90px;
    height: 90px;
    right: -9em;
}

#sub1.splide__arrow svg {
    font-size: 25px!important;
}
#sub2.splide__arrow svg {
    font-size: 25px!important;
}